
body {
    background: #0F2027;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #0F2027, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
}
html, body {
    height:100%;
    font-family: "Lucida Console", Monaco, monospace;
}
.header-color {
    background: black; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, black, black, black); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, black, black, black); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border-radius:10px;
    width: '95%';
    margin-left:'auto';
    margin-right: 'auto';
    margin-top: 1%;
}

.header-title {
    font-family: "Lucida Console", Monaco, monospace;
    font-size: 55px;
    font-weight: bold;
    color: white;
    width: 75%;
    text-align: left;
}

#header-fa {
    color: #473be7;
    font-size: 25px;
    margin-right: 10px;
}
.landing-grid {
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: scroll;

}

.avatar-img{
    height: 300px;
    padding-top: 10em;
}

.banner-text{
    background-color: black;
    opacity: 0.8;
    width: 75%;
    margin: auto;
    margin-top: 2%;
    padding: 2%;
    border-radius: 10px;
}

banner-text i {
    font-size: 10px;
}

.banner-text h1 {
    font-size: 66px;
    font-weight: bold;
    color: white;
}

.banner-text hr {
    border-top: 5px dotted white;
    width: 60%;
    margin: auto;
}

.banner-text p {
    color: white;
    font-size: 20px;
    padding: 1em;
}

.social-links{
    display: flex;
    justify-content: space-between;
    width: 50%;
    margin: auto;
    color: white;
}

.social-links i {
    color: white;
    font-size: 5em;
    padding: 8px;
}

.projects-grid {
    padding-top: 3%;
    display: flex;

}

.projects-container {
    width: 100%;
    height: 100vh - 64px - 49px;
    background: #0F2027;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #0F2027, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    overflow:hidden;
}

.contact-body {
    margin: auto;
    position: fixed;
    width: 100%;
    height: 100%;
    justify-content: center;
    padding-top: 2em;
    background: #0F2027;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #0F2027, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.contact-grid {
    text-align: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background: white;
    color: black;
    margin-bottom: 100px;
}
/*
.contact-grid h2, i {
    font-family: 'Anton', sans-serif;
}
.contact-grid p {
    font-family: 'Oxygen', sans-serif;
    font-weight: bold;
}
*/


.contact-grid hr {
    border-top: 5px dotted black;
    width: 50%;
    margin: auto;
}

.contact-list i {
    font-size: 66px;
    padding-right: 5rem;
}

.resume-grid {
    background: #0F2027;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #0F2027, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    height: 80%;
}
.resume-left-col {
    background: #ffffff;
    border-radius: 10px;
    height: 80%;
}
.resume-right-col {
    background: #ffff; /*#27221f */
    border: 1px solid grey;
    border-radius: 10px;
    box-shadow: -10px 10px 5px rgb(0,0,0);
    color: black;
    padding: 2em;
    height: 80%;
}